@import '../../../assets/styles/theme.scss';

.Header {
    display: flex;
    justify-content: space-between;
}

.Logo {
    height: 13px;
}

.Search {
    height: 24px;
}

@include media (">phone") {
    .Logo {
        height: 17px;
    }

    .Search {
        margin-right: 2rem;
    }
}