@import './assets/styles/theme.scss';

html {
  scroll-behavior: smooth;
}

.App {
  padding: 0.5rem;
  font-family: "CircularStd";
}

@include media (">phone") {
    .App {
      padding: 1rem;
    }
}